/** 
    媒体查询 start

    xs: width <= 767px
    sm: width >= 768px
    md: width >= 992px
    lg: width >= 1200px
    xl: width >= 1920px
**/
$xs: 767px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;

// 断点
$breakpoints: (
  'xs': 'only screen and ( max-width: #{$xs})',
  'sm': 'only screen and ( min-width: #{$sm})',
  'md': 'only screen and ( min-width: #{$md})',
  'lg': 'only screen and ( min-width: #{$lg})',
  'xl': 'only screen and ( min-width: #{$xl})',
) !default;

// 定义媒体查询断点
@mixin media-to($breakpoint) {
    $query: map-get($breakpoints, $breakpoint);
    // 这里是scss error提示估计大部分人（包括我）都没怎么使用过
    @if not $query {
        @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
    }
    // 具体断点解释在这里，作者比较严谨，校验了$query合法性
    @media #{if(type-of($query) == 'string', unquote($query), inspect($query))}
    {
        @content;
    }
}
/** 媒体查询 end **/